@{
    ViewBag.Title = "Index";
}
<br />

<h2 class="text-center">Afisare postari</h2>

<br />

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

@foreach (FinalDAW2.Models.Post postare in ViewBag.Posts)
{
    <div class="card">

        @Html.Partial("PostInfo", postare )


        <a class="btn btn-success" href="/Posts/Show/@postare.Id">Afisare postare</a>



    </div>

    <br />
    <br />
}