@model FinalDAW2.Models.Post

@* Afisarea unui articol impreuna cu categoria din care face *@
<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Posts/Index/">Afisare articole</a>

    <a class="btn btn-outline-success" href="/Posts/New">Adauga articol</a>

</div>

<br />

<div class="card">

    @Html.Partial("PostInfo", Model)


    <div class="d-flex flex-row justify-content-between">

        <a class="btn btn-success" href="/Posts/Edit/@Model.Id">Editeaza articol</a>

        <form method="post" action="/Posts/Delete/@Model.Id">

            <button class="btn btn-danger" type="submit">Sterge articol</button>

        </form>

    </div>

</div>

<br />
<br />