@model FinalDAW2.Models.Post


<div class="card-body">


    <div class="card-text">@Model.Continut</div>

    <div class="d-flex justify-content-between flex-row mt-5">


        <div><i class="bi bi-person"></i> @Model.User.UserName</div>

        <span class="alert-success">@Model.DataPostarii</span>

    </div>

</div>


